.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #dadfe6;
	background-color: #fff;
	z-index: 9999;
	.logo {
		padding: 15px;
		display: inline-block;
		.text {
			cursor: pointer;
			color: #202d40;
			margin-left: 15px;
			letter-spacing: 1px;
			width: 155px;
			display: inline-block;
			vertical-align: top;
			font-weight: 600;
		}
		.logo-icon {
			color: #19be6b;
			font-size: 35px;
		}
	}

	.header-right {
		float: right;

		.header-icon {
			padding: 0 25px;
			height: 64px;
			line-height: 64px;
			cursor: pointer;
			i.iiicon {
				font-size: 25px;
			}
			&:hover {
				background-color: #f5f7fa;
			}
		}

		.user-box {
			position: relative;
			&:hover .drop-menu{
				display: block;
			}
			.protail {
				padding: 7px 20px;
				cursor: pointer;
				&:hover {
					background-color: #f5f7fa;
				}
				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					margin-right: 5px;
				}
			}
		}

		.info-box {
			position: relative;
			&:hover .drop-menu{
				display: block;
				z-index: 1;
			}
		}

		.icon-box {
			.drop-menu {
				margin-top: -5px;
				li {
					border-bottom: 1px solid #f5f7fa;
					cursor: pointer;
					position: relative;
					&:hover {
						background-color: #f5f7fa;
					}
					&::before {
						content: '';
						position: absolute;
						width: 6px;
						height: 6px;
						background-color: #f81d22;
						border-radius: 50%;
						top: 10px;
						left: 8px;
					}
				}
			}
		}

		.drop-menu.info-drop {
			right: -100px;
			width: 300px
		}
		.drop-menu.user-drop {
			right: 0;
			width: 160px;
		}
		.drop-menu {
			display: none;
			position: absolute;
			min-width: 160px;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
			background: #fff;
			border: 1px solid #dadfe6;
			border-radius: 2px;
			li {
				padding: 9px 0 9px 20px;
				cursor: pointer;
				&:hover {
					background-color: #f5f7fa;
				}
				&.logoout {
					border-top: 1px solid #dadfe6;
				}
				.user-list-icon {
					margin-right: 10px;
					font-size: 16px;
					font-weight: 600;
					vertical-align: middle;
					color: #817e7e;
				}
		
			}
		}
	}

}