/* css默认样式清除  字体使用iview  推荐，iview 已集成 */
*{font-size: 14px; }
html,body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,div,span,a,b,i,strong,em,img,form,input,textarea,table,th,td,section{padding:0; margin:0;}
html,body{ width:100%; height:100%;overflow:initial;}
body{color:#313131;-webkit-overflow-scrolling:touch;background-color: #fefefe !important;}
h1,h2,h3,h4,h5,h6{ font-size:100%; line-height:100%; font-weight:normal;}
li{ list-style:none;}
a{ text-decoration:none; color:#313131;-webkit-tap-highlight-color: rgba(0,0,0,0)}
a:hover{text-decoration:none !important; color:#0459ab;cursor: pointer;}
i,em{ font-style:normal;}
strong,b{ font-weight:normal;}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }
input,button,select,textarea{ resize:none; outline:none; border:none 0;padding:0;font-family:'PingFangSC','Microsoft Yahei',sans-serif; }
input[type="search"]{-webkit-appearance:none;}
input::-webkit-search-cancel-button {display: none;}
li{ list-style:none; vertical-align:top;}
a img{ border:0; }
img{vertical-align: middle;width: 100%}
table{border-collapse:collapse; font-size:100%;font-weight:normal;}
table,tr,th,td{padding:0; font-size:100%;font-weight:normal;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after,
.cl:after {
  display:block;clear:both;content:'';
}
.clearfix,
.cl {
  zoom:1;
}
.po_re{ position: relative;}
.po_ab{ position: absolute;}
.po_fix{ position: fixed;}
.text_l{ text-align: left;}
.text_c{text-align: center;}
.text_r{text-align: right;}


/* 表单错误提示 */
html .ivu-form-item-error-tip{
  color: #fff;
  background: #dd4b39;
  padding: 0 8px;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  right: 0;
  left: auto;
  z-index: 1;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.06);
}
html .ivu-form-item-error-tip:after {
  content: "";
  position: absolute;
  border: 4px solid transparent;
  box-sizing: border-box;
  top: -8px;
  right: 20%;
  border-bottom-color: #dd4b39;
}
/* 禁用按钮样式  */
.ivu-btn[disabled] {
  color: #fff!important;
  background-color: #ccc!important;
  border-color: #ccc!important;
}

.lxh-title {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #3C8CFF;
  display: inline-block;
  margin-right: 20px;
}
.lxh-title:before {
  content: '';
  width: 3px;
  height: 16px;
  background: #3C8CFF;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  top: 2px;
}

.lxh-title-2 {
  position: relative;
  font-size: 14px;
  color: #47cb89;;
  display: inline-block;
  margin-right: 15px;
}
.lxh-title-2:before {
  content: '';
  width: 2px;
  height: 13px;
  background: #47cb89;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  top: 2px;
}


html .fixed-editor-img-attr-control {
	position: fixed;
	width: 200px;
	height: 300px;
	background: #fff;
	top: 100000px;
	left: 100000px;
	z-index: 2000;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #f5f7fa;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
html .fixed-editor-img-attr-control .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
html .ql-editor {
  min-height: 350px;
  max-height: 600px;
}
.fixed-loading {
  position: fixed;
  z-index: 99999999999999;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .7);
  font-size: 20px;
  line-height: 100vh;
  text-align: center;
  font-weight: 600;
  top: 0;
  left: 0;
  color: #fff;
}

.img-avtor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}
.active-name {
  display: inline-block;
  width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin-left: 10px;
  font-weight: 600;
}